<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header style="text-align: left; padding-left: 40px;">
        <h1>Dashboard</h1>
    </header>

    <main style="display: flex; flex-direction: column; align-items: flex-start; padding: 40px;">
        <section style="margin-bottom: 50px; width: 100%; max-width: 400px;">
            <h2>Создать новый пароль</h2>
            <form method="POST" action="/generate" style="display: flex; flex-direction: column; gap: 15px;">
                <input style="width: 270px; height: 30px; font-size: 17px;" 
                       type="text" name="site" placeholder="Название сайта" required class="input-full">

                <input style="width: 288px; height: 30px; font-size: 17px;" 
                       type="number" name="length" min="8" max="16" 
                       placeholder="Длина пароля (8-16)" required class="input-full">

                <label style="font-size: 17px;">
                    <input type="checkbox" name="include_special" checked> Включать специальные символы
                </label>

                <button style="width: 295px;" type="submit" class="btn btn-full">Сгенерировать и сохранить</button>
            </form>
        </section>

        <section style="width: 100%; max-width: 700px;">
            <h2>Сохранённые пароли</h2>
            <ul>
                {{range .Passwords}}
                    <li><strong>{{.Site}}</strong>: {{.PasswordText}}</li>
                {{else}}
                    <li>Пароли пока не сохранены</li>
                {{end}}
            </ul>
        </section>
    </main>
</body>
</html>
