<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Менеджер паролей</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в менеджер паролей</h1>
    </header>

    <main>
        <p>Простой и безопасный способ хранить и генерировать уникальные пароли для ваших сайтов. Все пароли надёжно сохраняются в базе данных, доступные только вам.</p>

        <div class="btn-group" style="margin-top: 40px;">
            <a href="/login" class="btn">Войти</a>
            <a href="/register" class="btn">Регистрация</a>
        </div>
    </main>
</body>
</html>
